# LaTeX ignora estos archivos generados
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
_minted-*
comandos_git.tex

# Archivos extra
BackupRodri/

# EXCEPCIONES
!comandos_git.pdf

# Archivos cache de simulaciones
Matlab/Simulink/slprj/
Matlab/Simulink/plcsrc/
*.l
Constantes.asv
*.slxc
*.autosave
*.mat
*.mexw64
*.bak
*.bootinfo
*.bootinfo_guids
*.compileinfo

