# LaTeX ignora estos archivos generados
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
_minted-*
comandos_git.tex

# Archivos extra
BackupRodri/

# EXCEPCIONES
!comandos_git.pdf

# Archivos cache de simulaciones
Matlab/Simulink/slprj/
*.l
*.xml
Constantes.asv
*.slxc
*.autosave
*.mat

